
$darkestgray:     #383838
$darkgray:        #707070
$gray:            #C0C0C0
$lightgray:       #EEEEEE
$lightestgray:    #F5F5F5

$darkestprimary:  #553838
$darkprimary:     #aa7511
$primary:         #ffb511
$lightprimary:    #ffdc99
$lightestprimary: #ffedbb

$background:   $lightestgray

$break-large: 1200px
$break-mid: 780px
$break-small: 560px

.button
  background-color: $primary
  border: none
  color: white
  font-size: 12px
  font-weight: bold
  box-sizing: content-box
  padding: 10px
  border-radius: 10px
  width: 60px
  left: 40% 
  cursor: pointer

